sota-rag-upgrade/src/Multimodal RAG - TheAIAutomators - SOTA RAG Sub-workflow - 1.0 BLUEPRINT.json
{
  "name": "Multimodal RAG - TheAIAutomators - SOTA RAG Sub-workflow - 1.0 BLUEPRINT",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "purpose",
              "value": "ocr"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        32
      ],
      "id": "880e8413-112b-43cd-b568-0132e3a3311c",
      "name": "Upload File",
      "credentials": {
        "mistralCloudApi": {
          "id": "rmhBwssORDiWOBKN",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        32
      ],
      "id": "68220ef7-c6bd-48b1-9863-e74f11c23202",
      "name": "HTTP Request",
      "credentials": {
        "mistralCloudApi": {
          "id": "rmhBwssORDiWOBKN",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"mistral-ocr-latest\",\n    \"document\": {\n        \"type\": \"document_url\",\n        \"document_url\": \"{{ $json.url }}\"\n    },\n    \"include_image_base64\": true,\n    \"bbox_annotation_format\": {\n        \"type\": \"text\",\n        \"json_schema\": {\n            \"name\": \"visual_descriptions_only\",\n            \"description\": \"Extract concise natural-language descriptions for each distinct visual element (image, chart, table, diagram, etc.) on the page. Focus on summarizing what each visual element contains or conveys.\",\n            \"schema\": {\n                \"type\": \"array\",\n                \"items\": {\n                    \"type\": \"string\",\n                    \"description\": \"A concise description of a single visual element.\"\n                }\n            },\n            \"strict\": false\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        32
      ],
      "id": "a9a9efd0-61d3-404e-8034-e930257991fc",
      "name": "HTTP Request1",
      "credentials": {
        "mistralCloudApi": {
          "id": "rmhBwssORDiWOBKN",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=image_base64",
        "options": {
          "fileName": "={{ $('Set file name').item.json.file_name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2720,
        -464
      ],
      "id": "618b4396-d907-41a1-bf43-88fa9e669330",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Supabase_account_details').first().json.supabase_base_url }}/storage/v1/object/{{ $('Supabase_account_details').first().json.supabase_storage_bucket_name }}/{{ $binary.data.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        -464
      ],
      "id": "fb9756ef-ed14-4d1a-bdd0-984bf3ffba6a",
      "name": "Upload Image to Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "wwbxqbDc4H2RPQ1Y",
          "name": "Supabase account (AW)"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1968,
        -256
      ],
      "id": "daf78685-29a1-4fdb-b8b7-344c7654ca00",
      "name": "Split Out Images"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1744,
        -256
      ],
      "id": "751feb40-6f6e-4d2c-af1d-aec03c70d6da",
      "name": "Split Out Pages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbd236e3-a9cb-4568-b781-086497021139",
              "name": "file_name",
              "value": "={{ $json.Key.split('/').slice(1).join('/') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        -464
      ],
      "id": "c3871da1-b839-4c76-a269-f4c673d65f52",
      "name": "Get response file name",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "file_name",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3472,
        -288
      ],
      "id": "f70f5869-dce5-444a-9d0a-7accd8f4d37b",
      "name": "Merge results"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "uploaded_images",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3664,
        -288
      ],
      "id": "27450486-36b1-41e7-8c5c-67468e34a2a5",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3952,
        0
      ],
      "id": "54a40c4a-3f9c-4ada-928f-d8fd327b9c79",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94ab2435-fc15-4668-b6c7-542619abb5e3",
              "name": "file_name",
              "value": "={{ Array.from({ length: 6 }, () => Math.random().toString(36).slice(2, 10)).join('') }}",
              "type": "string"
            },
            {
              "id": "1ab3ad56-4086-4c23-9e44-ca33e8dadbb5",
              "name": "original_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "aa2e372a-bcc7-4843-967c-b0ad9a0ebbfc",
              "name": "image_annotation",
              "value": "={{ $json.image_annotation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -256
      ],
      "id": "e1c57af7-90b6-4d8a-9ec1-368740912e5d",
      "name": "Set file name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c9a844-7c93-4899-992e-75a2d1d651f9",
              "name": "image_base64",
              "value": "={{ $('Split Out Images').item.json.image_base64.split(',')[1]; }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        -464
      ],
      "id": "4aa21d50-9f73-423c-aa30-98a9579531e1",
      "name": "Prep base64 string"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4192,
        0
      ],
      "id": "107a9314-2b98-4f3a-99fb-3cd02b3082a4",
      "name": "Split Out Pages1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Safely access uploaded_images from Merge1\nconst mergeItem = $('Merge1').item;\nconst uploadedImages = mergeItem?.json?.uploaded_images;\n\nlet markdown = $json.markdown;\nconst supabaseBaseUrl = $('Supabase_account_details').item.json.supabase_base_url;\nconst bucketName = $('Supabase_account_details').item.json.supabase_storage_bucket_name;\nconst fullBaseUrl = `${supabaseBaseUrl}/storage/v1/object/public/${bucketName}/`;\n\n// Only run replacement if uploadedImages is a non-empty array\nif (Array.isArray(uploadedImages) && uploadedImages.length > 0) {\n  for (const image of uploadedImages) {\n    const originalId = image.original_id;\n    const fileName = image.file_name;\n    const annotation = image.image_annotation || '';\n\n    const localMarkdownPattern = `![${originalId}](${originalId})`;\n    const hostedMarkdownWithAnnotation = `![${originalId}](${fullBaseUrl}${fileName})\\n\\n${annotation}`;\n\n    if (markdown.includes(localMarkdownPattern)) {\n      markdown = markdown.replaceAll(localMarkdownPattern, hostedMarkdownWithAnnotation);\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    markdown\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        0
      ],
      "id": "ff72158a-21e3-4cbf-924e-5e0258a269de",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef0afdc6-34df-4509-9112-daeaa2e8dabd",
              "name": "supabase_base_url",
              "value": "https://YOUR_SUPABASE_URL",
              "type": "string"
            },
            {
              "id": "c8116945-1d31-4e9b-a898-2fcfb5a2e347",
              "name": "supabase_storage_bucket_name",
              "value": "taia-rag",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -128
      ],
      "id": "1085e53b-594e-4b68-b6b5-901dbcdf2be8",
      "name": "Supabase_account_details"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "binary_file",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        48
      ],
      "id": "9844b3cd-4d53-4341-be81-c6c91d8ebdea",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        32
      ],
      "id": "75b6e4e3-9411-4bb4-a402-72c57aef3aaf",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "binary_file",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        192,
        48
      ],
      "id": "039c9a0e-c80f-4bf0-afb4-4594d966fe0a",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4640,
        0
      ],
      "id": "494da73f-8d7a-48da-9552-58392a340a7b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "markdown",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        4864,
        0
      ],
      "id": "83671be2-24d1-4651-98fd-19f468b74e88",
      "name": "Summarize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70797104-8ba2-479a-a349-71cf7bee2a98",
              "name": "content",
              "value": "={{ $json.concatenated_markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5088,
        0
      ],
      "id": "9f3d8eb1-d797-491a-aeb4-529b3717d9da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)",
        "height": 140,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -176
      ],
      "id": "f8e931b4-92c0-4948-a183-38a324c2430d",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload Image to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Supabase": {
      "main": [
        [
          {
            "node": "Get response file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Images": {
      "main": [
        [
          {
            "node": "Set file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Pages": {
      "main": [
        [
          {
            "node": "Split Out Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get response file name": {
      "main": [
        [
          {
            "node": "Merge results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge results": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Split Out Pages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set file name": {
      "main": [
        [
          {
            "node": "Prep base64 string",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prep base64 string": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Pages1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_account_details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Supabase_account_details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90ab9d27-0353-442b-9b84-3f289daeec7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5d1ea132a4e071e6288b3143f31284b91560858bdef3f0c88a49f587fc91a29"
  },
  "id": "gM46LgcR4FbQEx4O",
  "tags": [
    {
      "createdAt": "2025-05-12T13:43:59.783Z",
      "updatedAt": "2025-05-12T13:43:59.783Z",
      "id": "d3ygIhrGjDmzgrW0",
      "name": "TheAIAutomators.com"
    }
  ]
}